{
  "openapi": "3.0.3",
  "info": {
    "title": "JDB API",
    "description": "JDB (JavDB) 移动版完整 API 规范（基于 Flutter APK 逆向分析）。\n\n## 签名机制 (jdsignature)\n\n所有请求必须携带 `jdsignature` 请求头，格式为：`{timestamp}.{d2}.{md5_hash}`\n\n### 签名生成步骤\n1. `timestamp` = 当前 Unix 时间戳（秒）\n2. `d1` = 硬编码的 128 字符十六进制字符串（从 libapp.so 逆向解密得到）\n3. `d2` = `\"lpw6vgqzsp\"`（从 libapp.so 逆向解密得到）\n4. `md5_hash` = MD5(`\"{timestamp}{d1}\"`)\n5. `jdsignature` = `\"{timestamp}.{d2}.{md5_hash}\"`\n\n### 逆向过程\n- `libsecurity.so` 的 `getSecret()` 返回 APK 签名证书 DER hex 前 5 字符 `\"30820\"`\n- `libapp.so` 中存储两个 Base64 编码的加密数组（s1, s2）\n- 解密算法：`md5_hex = MD5(secret)`，然后 `result[i] = arr[i] - ord(md5_hex[min(i,31)])`\n- 解密结果再做 Base64 解码即得 `d1` 和 `d2`\n\n## 认证方式\n- 登录 `POST /api/v1/sessions` 获取 Bearer Token（JWT）\n- 需认证的接口携带 `Authorization: Bearer <token>`\n\n## 自定义请求头\n- `jdsignature`: 动态签名（所有请求必须）\n- `authorization`: Bearer Token（需认证的接口）\n- `accept-language`: 语言（如 zh-CN）\n- `connection`: keep-alive\n\n## 统一响应格式\n```json\n{\n  \"success\": 1,\n  \"action\": null,\n  \"message\": null,\n  \"data\": {}\n}\n```\n`success` 为 1 表示成功，0 表示失败。`data` 可能是对象或数组。\n\n## 2026-07-20 实测修正\n- 修正了7个接口的认证标注（实际需要Bearer但文档标注为公开）\n- 修正了16+个接口的必填参数标注\n- 标记了5个服务端Bug接口（tags, makers, collected_lists等）\n- search_image从GET改为POST（支持文件上传）\n- codes接口标记为不可用",
    "version": "1.9.35-verified-20260720",
    "contact": {
      "name": "JDB"
    }
  },
  "servers": [
    {
      "url": "https://jdforrepam.com",
      "description": "生产环境"
    },
    {
      "url": "https://staging.letidi.com",
      "description": "测试环境（代码默认值）"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "认证与注册（登录、注册、密码重置）"
    },
    {
      "name": "User",
      "description": "用户信息与操作（个人资料、收藏、浏览记录）"
    },
    {
      "name": "Movie",
      "description": "影片内容（最新、推荐、详情、播放、磁力）"
    },
    {
      "name": "Search",
      "description": "搜索（综合搜索、图片搜索、磁力搜索）"
    },
    {
      "name": "Actor",
      "description": "演员、导演、制作商、发行商"
    },
    {
      "name": "Series",
      "description": "系列与编号"
    },
    {
      "name": "Ranking",
      "description": "排行榜（播放排名、综合排名、演员排名）"
    },
    {
      "name": "Review",
      "description": "评论（热门评论、影片评论、用户评论）"
    },
    {
      "name": "List",
      "description": "影片单列（创建、编辑、收藏、相关）"
    },
    {
      "name": "Tag",
      "description": "标签关注（关注、取消关注、排序、批量）"
    },
    {
      "name": "Collection",
      "description": "收藏管理（演员、导演、制作商、系列、编号）"
    },
    {
      "name": "Article",
      "description": "文章"
    },
    {
      "name": "Ad",
      "description": "广告（开屏广告、首页广告）"
    },
    {
      "name": "Wallet",
      "description": "钱包与提现（收益、提现、绑定账户、银行列表）"
    },
    {
      "name": "Payment",
      "description": "会员套餐与支付（套餐、支付订单）"
    },
    {
      "name": "Other",
      "description": "其他（启动配置、帮助、调试、磁力应用）"
    }
  ],
  "paths": {
    "/api/v1/sessions": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "登录",
        "description": "用户登录，验证用户名密码及设备信息后返回用户信息和 Bearer Token",
        "responses": {
          "200": {
            "description": "登录成功，data 为 UserInfoEntity (含 Token)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UserInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "登录请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/users": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "注册",
        "description": "用户注册，需要邮箱、用户名、密码及设备信息",
        "responses": {
          "200": {
            "description": "注册成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "注册请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      },
      "get": {
        "tags": [
          "User"
        ],
        "summary": "获取用户信息",
        "description": "获取当前登录用户信息",
        "responses": {
          "200": {
            "description": "成功，data 为 UserEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UserEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "app_channel",
            "in": "query",
            "description": "应用渠道",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/users/activate_registration": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "激活注册",
        "description": "使用邮箱和激活码完成注册激活",
        "responses": {
          "200": {
            "description": "激活成功，data 为 UserInfoEntity (含 Token)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UserInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "激活注册请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateRegistrationRequest"
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/users/resend_activation_code": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "重发激活码",
        "description": "重新发送注册激活码到邮箱",
        "responses": {
          "200": {
            "description": "发送成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "重发激活码请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/users/forgot_password": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "忘记密码(发送验证码)",
        "description": "向指定邮箱发送密码重置验证码",
        "responses": {
          "200": {
            "description": "发送成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "忘记密码请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/users/reset_password": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "重置密码",
        "description": "使用邮箱、验证码和新密码重置密码",
        "responses": {
          "200": {
            "description": "重置成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "重置密码请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/users/change_password": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "修改密码",
        "description": "修改当前用户密码",
        "responses": {
          "200": {
            "description": "修改成功，data 为 UserInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UserInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "requestBody": {
          "description": "修改密码请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/users/change_username": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "修改用户名",
        "description": "修改当前用户名",
        "responses": {
          "200": {
            "description": "修改成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "requestBody": {
          "description": "修改用户名请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeUsernameRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/users/additional": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "获取用户附加信息",
        "description": "获取当前用户附加信息（邀请码、推广统计等）",
        "responses": {
          "200": {
            "description": "成功，data 为 UserInfoAdditionalEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UserInfoAdditionalEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "更新用户附加信息",
        "description": "更新当前用户附加信息",
        "responses": {
          "200": {
            "description": "更新成功，data 为 UserInfoAdditionalEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UserInfoAdditionalEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/users/feedback": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "用户反馈",
        "description": "提交用户反馈",
        "responses": {
          "200": {
            "description": "提交成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "requestBody": {
          "description": "用户反馈请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/startup": {
      "get": {
        "tags": [
          "Other"
        ],
        "summary": "应用启动初始化",
        "description": "获取应用启动初始化数据（公告、配置、开关等）",
        "responses": {
          "200": {
            "description": "成功，data 为 StartupEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StartupEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "平台标识",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_channel",
            "in": "query",
            "description": "应用渠道",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version",
            "in": "query",
            "description": "应用版本名",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_version_number",
            "in": "query",
            "description": "应用版本号",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/about": {
      "get": {
        "tags": [
          "Other"
        ],
        "summary": "关于页面",
        "description": "获取关于页面信息",
        "responses": {
          "200": {
            "description": "成功，data 为 AboutEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AboutEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "app_channel",
            "in": "query",
            "description": "应用渠道",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/helps": {
      "get": {
        "tags": [
          "Other"
        ],
        "summary": "帮助文档列表",
        "description": "获取帮助文档列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 PayHelpsEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PayHelpsEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "帮助分类（必填），可选值: general, payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/latest": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "最新影片",
        "description": "获取最新影片列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieEntity 或 SearchNewEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/recommend": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "推荐影片",
        "description": "获取推荐影片（按周期）",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieRecommendEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieRecommendEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "推荐周期",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/recommend_periods": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "推荐周期",
        "description": "获取可用的推荐周期列表",
        "responses": {
          "200": {
            "description": "成功，data 为 RecommendPeriodEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RecommendPeriodEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/top": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "Top排行",
        "description": "获取 Top 排行影片列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "年份",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/may_also_like": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "猜你喜欢",
        "description": "获取猜你喜欢影片列表",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/tags": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "按标签获取影片",
        "description": "按标签筛选影片列表（分页），filter_by为必填参数",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filter_by",
            "in": "query",
            "description": "筛选条件（必填），可选值: categories",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "排序方向 (asc/desc)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v4/movies/{movie_id}": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "影片详情(V4)",
        "description": "获取影片完整详情信息 (V4 版本)",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/{movie_id}/play": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "获取播放信息",
        "description": "获取影片 M3U8 播放地址等信息",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieM3u8Entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieM3u8Entity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/{movie_id}/resume_play": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "恢复播放",
        "description": "恢复影片播放（获取上次播放进度及播放地址）",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieM3u8Entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieM3u8Entity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/{movie_id}/magnets": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "获取磁力链接",
        "description": "获取影片的磁力链接列表",
        "responses": {
          "200": {
            "description": "成功，data 为 MagnetsEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MagnetsEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/movies/{movie_id}/reviews": {
      "get": {
        "tags": [
          "Movie"
        ],
        "summary": "获取影片评论",
        "description": "获取影片评论列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieCommentEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieCommentEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      },
      "post": {
        "tags": [
          "Movie"
        ],
        "summary": "创建影评",
        "description": "为指定影片创建评论",
        "responses": {
          "200": {
            "description": "创建成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "创建影评请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/movies/{movie_id}/reviews/{review_id}": {
      "put": {
        "tags": [
          "Movie"
        ],
        "summary": "更新影评",
        "description": "更新指定影片的指定评论",
        "responses": {
          "200": {
            "description": "更新成功，data 为 ReviewEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ReviewEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "review_id",
            "in": "path",
            "description": "评论 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "更新影评请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/movies/{movie_id}/reviews/{review_id}/like": {
      "post": {
        "tags": [
          "Movie"
        ],
        "summary": "评论点赞",
        "description": "为指定评论点赞",
        "responses": {
          "200": {
            "description": "点赞成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "review_id",
            "in": "path",
            "description": "评论 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/movies/{movie_id}/reviews/{review_id}/report": {
      "post": {
        "tags": [
          "Movie"
        ],
        "summary": "评论举报",
        "description": "举报指定评论",
        "responses": {
          "200": {
            "description": "举报成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "description": "影片 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "review_id",
            "in": "path",
            "description": "评论 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "综合搜索",
        "description": "综合搜索影片、演员等",
        "responses": {
          "200": {
            "description": "成功，data 为 SearchNewEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SearchNewEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "搜索关键词",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "编号筛选",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v2/search_image": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "图片搜索",
        "description": "以图搜片搜索。需要上传图片文件（multipart/form-data），字段名为 image",
        "responses": {
          "200": {
            "description": "成功，data 为 SearchEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SearchEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ],
        "requestBody": {
          "description": "待搜索的图片文件",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "图片文件"
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/search_magnet": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "磁力搜索",
        "description": "搜索磁力链接",
        "responses": {
          "200": {
            "description": "成功，data 为 MagnetsEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MagnetsEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "搜索关键词",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/actors": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "演员列表",
        "description": "获取演员列表，type参数为必填，可选值: recommend/hot/new/popular",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选（必填），可选值: recommend, hot, new, popular",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功，data 为 ActorEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ActorEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/actors/recommend": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "推荐演员",
        "description": "获取推荐演员列表",
        "responses": {
          "200": {
            "description": "成功，data 为 ActorRecommendEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ActorRecommendEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/actors/{actor_id}": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "演员详情",
        "description": "获取演员详情及其出演影片列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 ActorInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ActorInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "description": "演员 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "排序方向 (asc/desc)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/actors/{actor_id}/collect_actions": {
      "post": {
        "tags": [
          "Actor"
        ],
        "summary": "收藏/取消收藏演员",
        "description": "收藏或取消收藏指定演员",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "actor_id",
            "in": "path",
            "description": "演员 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "收藏演员请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectActorRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/actors/batch_uncollection": {
      "post": {
        "tags": [
          "Actor"
        ],
        "summary": "批量取消收藏演员",
        "description": "批量取消收藏演员",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/directors": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "导演列表",
        "description": "获取导演列表，type参数为必填，可选值: recommend/hot/new",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选（必填），可选值: recommend, hot, new",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功，data 为列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/directors/{director_id}": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "导演详情",
        "description": "获取导演详情",
        "responses": {
          "200": {
            "description": "成功，data 为 MakerInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MakerInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "director_id",
            "in": "path",
            "description": "导演 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/directors/{director_id}/collect_actions": {
      "post": {
        "tags": [
          "Actor"
        ],
        "summary": "收藏导演",
        "description": "收藏指定导演",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "director_id",
            "in": "path",
            "description": "导演 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/makers": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "制作商列表",
        "description": "获取制作商列表。⚠️ 实测该接口无论传什么type值均返回HTTP500，疑似服务端Bug（2026-07-20测试）",
        "deprecated": true,
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选（必填）",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功，data 为列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/makers/{maker_id}": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "制作商详情",
        "description": "获取制作商详情",
        "responses": {
          "200": {
            "description": "成功，data 为 MakerInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MakerInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "maker_id",
            "in": "path",
            "description": "制作商 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/makers/{maker_id}/collect_actions": {
      "post": {
        "tags": [
          "Actor"
        ],
        "summary": "收藏制作商",
        "description": "收藏指定制作商",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "maker_id",
            "in": "path",
            "description": "制作商 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/publishers/{publisher_id}": {
      "get": {
        "tags": [
          "Actor"
        ],
        "summary": "发行商详情",
        "description": "获取发行商详情",
        "responses": {
          "200": {
            "description": "成功，data 为 MakerInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MakerInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "publisher_id",
            "in": "path",
            "description": "发行商 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/series": {
      "get": {
        "tags": [
          "Series"
        ],
        "summary": "系列列表",
        "description": "获取系列列表（分页），type参数为必填",
        "responses": {
          "200": {
            "description": "成功，data 为 SeriesListEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SeriesListEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选（必填），可选值: recommend",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/series/{series_id}": {
      "get": {
        "tags": [
          "Series"
        ],
        "summary": "系列详情",
        "description": "获取系列详情",
        "responses": {
          "200": {
            "description": "成功，data 为 MakerInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MakerInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "description": "系列 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/series/letters": {
      "get": {
        "tags": [
          "Series"
        ],
        "summary": "系列字母索引",
        "description": "获取系列 A-Z 字母索引",
        "responses": {
          "200": {
            "description": "成功，data 为 LettersListEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/LettersListEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/series/{series_id}/collect_actions": {
      "post": {
        "tags": [
          "Series"
        ],
        "summary": "收藏系列",
        "description": "收藏指定系列",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "description": "系列 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/codes/{code_id}": {
      "get": {
        "tags": [
          "Series"
        ],
        "summary": "编号详情",
        "description": "获取编号详情。⚠️ 实测该接口返回404 ResourceNotFound，疑似未启用（2026-07-20测试）",
        "responses": {
          "200": {
            "description": "成功，data 为 MakerInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MakerInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "code_id",
            "in": "path",
            "description": "编号 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ],
        "deprecated": true
      }
    },
    "/api/v1/codes/{code_id}/collect_actions": {
      "post": {
        "tags": [
          "Series"
        ],
        "summary": "收藏编号",
        "description": "收藏指定编号。⚠️ 实测返回参数错误，疑似未启用（2026-07-20测试）",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "code_id",
            "in": "path",
            "description": "编号 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "deprecated": true
      }
    },
    "/api/v1/rankings": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "综合排名",
        "description": "获取影片综合排名。type和period均为必填参数，示例: type=month&period=all",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选（必填），可选值: month, day, week",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "排名周期（必填），可选值: all, month, day, week",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/rankings/actors": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "演员排名",
        "description": "获取演员排名。type和period均为必填参数",
        "responses": {
          "200": {
            "description": "成功，data 为 ActorEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ActorEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选（必填）",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "排名周期（必填）",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/rankings/playback": {
      "get": {
        "tags": [
          "Ranking"
        ],
        "summary": "播放排名",
        "description": "获取播放排名。filter_by和period均为必填参数",
        "responses": {
          "200": {
            "description": "成功，data 为 SearchNewEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SearchNewEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filter_by",
            "in": "query",
            "description": "筛选条件（必填），可选值: month, day, week",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "排名周期（必填），可选值: all, month",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/reviews/hotly": {
      "get": {
        "tags": [
          "Review"
        ],
        "summary": "热门评论",
        "description": "获取热门评论列表，period为必填参数，可选值: week, month, day",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieCommentEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieCommentEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "周期（必填），可选值: week, month, day",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      },
      "post": {
        "tags": [
          "Review"
        ],
        "summary": "热门评论点赞",
        "description": "为热门评论点赞",
        "responses": {
          "200": {
            "description": "点赞成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v2/users/{user_id}/reviews": {
      "get": {
        "tags": [
          "Review"
        ],
        "summary": "用户评论列表",
        "description": "获取指定用户的评论列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieCommentEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieCommentEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "用户 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v2/users/review_movies": {
      "get": {
        "tags": [
          "Review"
        ],
        "summary": "已评价电影",
        "description": "获取当前用户已评价的电影列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "评论状态",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "排序字段",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "排序方向 (asc/desc)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v1/lists": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "片单列表",
        "description": "获取片单列表（分页）。实测需要认证(Bearer Token)，且sort_by为必填参数",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieListsEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieListsEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "排序字段（必填），可选值: updated_at, movies_count, created_at",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      },
      "post": {
        "tags": [
          "List"
        ],
        "summary": "创建片单",
        "description": "创建新片单",
        "responses": {
          "200": {
            "description": "创建成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "requestBody": {
          "description": "创建片单请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/lists/simple": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "简版片单",
        "description": "获取简版片单列表",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieListsEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieListsEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/lists/related": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "相关片单",
        "description": "获取相关片单列表。movie_id为必填参数",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieListsEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieListsEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "movie_id",
            "in": "query",
            "description": "影片ID（必填）",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/lists/{list_id}": {
      "get": {
        "tags": [
          "List"
        ],
        "summary": "片单详情",
        "description": "获取片单详情（含影片列表）",
        "responses": {
          "200": {
            "description": "成功，data 为 MovieListsInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieListsInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "片单 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      },
      "put": {
        "tags": [
          "List"
        ],
        "summary": "更新片单",
        "description": "更新片单名称",
        "responses": {
          "200": {
            "description": "更新成功，data 为 BaseEntity 或 MovieListsInfoEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MovieListsInfoEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "片单 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "更新片单请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListRequest"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "List"
        ],
        "summary": "删除片单",
        "description": "删除指定片单",
        "responses": {
          "200": {
            "description": "删除成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "片单 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/lists/{list_id}/collect_actions": {
      "post": {
        "tags": [
          "List"
        ],
        "summary": "收藏片单",
        "description": "收藏指定片单",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "片单 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/lists/{list_id}/movie_actions": {
      "post": {
        "tags": [
          "List"
        ],
        "summary": "添加/移除影片",
        "description": "向片单添加或从中移除影片",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "片单 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "添加/移除影片请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMovieActionRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/tags": {
      "get": {
        "tags": [
          "Tag"
        ],
        "summary": "标签列表",
        "description": "获取标签列表。⚠️ 实测该接口返回HTTP500，疑似服务端Bug（2026-07-20测试）",
        "deprecated": true,
        "responses": {
          "200": {
            "description": "成功，data 为 TagsEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TagsEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "类型筛选（必填）",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/following_tags": {
      "post": {
        "tags": [
          "Tag"
        ],
        "summary": "关注标签",
        "description": "关注一个标签",
        "responses": {
          "200": {
            "description": "关注成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "requestBody": {
          "description": "关注标签请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowTagRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/following_tags/{tag_id}": {
      "delete": {
        "tags": [
          "Tag"
        ],
        "summary": "取消关注标签",
        "description": "取消关注指定标签",
        "responses": {
          "200": {
            "description": "取消成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "标签 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v1/following_tags/{tag_id}/sort": {
      "put": {
        "tags": [
          "Tag"
        ],
        "summary": "更新标签排序",
        "description": "更新已关注标签的排序优先级",
        "responses": {
          "200": {
            "description": "更新成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "标签 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "更新排序请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTagSortRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/following_tags/batch_push": {
      "post": {
        "tags": [
          "Tag"
        ],
        "summary": "批量关注标签",
        "description": "批量关注多个标签",
        "responses": {
          "200": {
            "description": "成功，data 为 FollowTagAllEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FollowTagAllEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "requestBody": {
          "description": "批量关注标签请求体",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchFollowTagRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/following_tags/batch_destroy": {
      "post": {
        "tags": [
          "Tag"
        ],
        "summary": "批量取消关注",
        "description": "批量取消关注标签",
        "responses": {
          "200": {
            "description": "操作成功，返回 BaseEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ]
      }
    },
    "/api/v1/users/collected_actors": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "收藏的演员",
        "description": "获取当前用户收藏的演员列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 ActorEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ActorEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v1/users/collected_codes": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "收藏的编号",
        "description": "获取当前用户收藏的编号列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 CollectEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CollectEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v1/users/collected_directors": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "收藏的导演",
        "description": "获取当前用户收藏的导演列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 CollectEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CollectEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/v1/users/collected_lists": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "收藏的片单",
        "description": "获取当前用户收藏的片单列表。⚠️ 实测该接口返回HTTP500，疑似服务端Bug（2026-07-20测试）",
        "responses": {
          "200": {
            "description": "成功，data 为列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          },
          {
            "jdsignature": []
          }
        ],
        "deprecated": true
      }
    },
    "/api/v1/users/collected_makers": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "收藏的制作商",
        "description": "获取当前用户收藏的制作商列表（分页）",
        "responses": {
          "200": {
            "description": "成功，data 为 CollectEntity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseEntity"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CollectEntity"
                        }
                      }
                    }
[...]
